In [144]:
import pandas as pd
import numpy as np

In [145]:
# pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
# pd.set_option('display.width', 1000)
# pd.set_option('display.expand_frame_repr', True)

In [146]:
import scipy
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import random
import datetime
import warnings
warnings.filterwarnings('ignore')

In [147]:
from matplotlib import rcParams
#colorbrewer2 Dark2 qualitative color table
dark2_colors = [(0.10588235294117647, 0.6196078431372549, 0.4666666666666667),
                (0.8509803921568627, 0.37254901960784315, 0.00784313725490196),
                (0.4588235294117647, 0.4392156862745098, 0.7019607843137254),
                (0.9058823529411765, 0.1607843137254902, 0.5411764705882353),
                (0.4, 0.6509803921568628, 0.11764705882352941),
                (0.9019607843137255, 0.6705882352941176, 0.00784313725490196),
                (0.6509803921568628, 0.4627450980392157, 0.11372549019607843)]

rcParams['figure.figsize'] = (10, 4)
rcParams['figure.dpi'] = 150
#rcParams['axes.color_cycle'] = dark2_colors
rcParams['lines.linewidth'] = 2
rcParams['font.size'] = 8
rcParams['patch.edgecolor'] = 'white'
rcParams['patch.facecolor'] = dark2_colors[0]
rcParams['font.family'] = 'StixGeneral'
rcParams['axes.grid'] = True
rcParams['axes.facecolor'] = '#eeeeee'

In [148]:
age_group=pd.read_csv('AgeGroupDetails.csv')
covid=pd.read_csv('covid_19_india.csv')
hospitalbeds=pd.read_csv('HospitalBedsIndia.csv')
testing=pd.read_csv('ICMRTestingDetails.csv')
individual=pd.read_csv('IndividualDetails.csv')
population=pd.read_csv('population_india_census2011.csv')

In [149]:
#Converting the Date column into date-time format

covid['Date'] =  covid['Date'].apply(lambda x:pd.to_datetime(x, format='%d-%m-%Y'))

In [150]:
#Dropping the unnescesary columns

intensity=covid.drop(['Sno','Time','ConfirmedIndianNational','ConfirmedForeignNational','Deaths','Cured'],axis=1)

In [151]:
#Converting Population Density from object to float

population['Density']=population['Density'].apply(lambda x:x.split('/km2')[0]).astype(float)

In [152]:
#Creating new dataframe that contains both population density and number of cases

q3=pd.merge(intensity,population,how='left',left_on='State/UnionTerritory',right_on='State / Union Territory')

In [153]:
#Dropping the unnescesary columns

q3.drop(['Sno','Population','Rural population','Rural population','Urban population','Area','Gender Ratio','State / Union Territory'],axis=1,inplace=True)

In [154]:
#Calculating Intensity of the spread

q3['Intensity']=q3['Confirmed']/q3['Density']

In [155]:
#Considering data only till 10th April 2020 (Since this was what was asked in the rest of the questions)

np.where(q3["Date"] == '2020-04-10')

(array([801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813,
        814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826,
        827, 828, 829, 830, 831], dtype=int64),)

In [156]:
q3 = q3[q3.index <= 831]

In [157]:
q3

          Date State/UnionTerritory  Confirmed  Density  Intensity
0   2020-01-30               Kerala          1    859.0   0.001164
1   2020-01-31               Kerala          1    859.0   0.001164
2   2020-02-01               Kerala          2    859.0   0.002328
3   2020-02-02               Kerala          3    859.0   0.003492
4   2020-02-03               Kerala          3    859.0   0.003492
..         ...                  ...        ...      ...        ...
827 2020-04-10            Telengana        473    312.0   1.516026
828 2020-04-10              Tripura          1    350.0   0.002857
829 2020-04-10          Uttarakhand         35    189.0   0.185185
830 2020-04-10        Uttar Pradesh        431    828.0   0.520531
831 2020-04-10          West Bengal        116   1029.0   0.112731

[832 rows x 5 columns]

In [158]:
q3= q3[q3['State/UnionTerritory']!='Jharkhand#']

In [159]:
q3=q3[q3['State/UnionTerritory']!='Unassigned']

In [160]:
q3=q3[q3['State/UnionTerritory']!='Nagaland#']

In [169]:
q3

          Date State/UnionTerritory  Confirmed  Density  Intensity
0   2020-01-30               Kerala          1    859.0   0.001164
1   2020-01-31               Kerala          1    859.0   0.001164
2   2020-02-01               Kerala          2    859.0   0.002328
3   2020-02-02               Kerala          3    859.0   0.003492
4   2020-02-03               Kerala          3    859.0   0.003492
..         ...                  ...        ...      ...        ...
827 2020-04-10            Telengana        473    312.0   1.516026
828 2020-04-10              Tripura          1    350.0   0.002857
829 2020-04-10          Uttarakhand         35    189.0   0.185185
830 2020-04-10        Uttar Pradesh        431    828.0   0.520531
831 2020-04-10          West Bengal        116   1029.0   0.112731

[829 rows x 5 columns]

In [161]:
q3_20th_March=q3[q3['Date']=='2020-03-20']

In [162]:
q3_27th_March=q3[q3['Date']=='2020-03-27']

In [163]:
q3_3rd_April=q3[q3['Date']=='2020-04-03']

In [164]:
q3_10th_April=q3[q3['Date']=='2020-04-10']

In [165]:
q3.to_csv('q3.csv')
q3_20th_March.to_csv('q3_20th_March.csv')
q3_27th_March.to_csv('q3_27th_March.csv')
q3_3rd_April.to_csv('q3_3rd_April.csv')
q3_10th_April.to_csv('q3_10th_April.csv')